{% extends "layouts/base.html" %}

<!-- {% block title %} UI Forms {% endblock %}  -->

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
	<link rel="stylesheet" href="/static/assets/css/forms.css">
{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">Forms</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="#">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Forms</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Basic Form</a>
					</li>
				</ul>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Form Elements</div>
						</div>
						<div class="card-body ">
							<div class="container overflow-hidden background">
									
								<!-- <div class="row form_width"> -->
									<div class="col-12 col-lg-10 m-auto">
										<form class="CensusFormClass col-auto" id="CensusFormId" method=POST>
											{% csrf_token %}
											<!-- start step indicators -->
											<div class="form-header d-flex mb-4">
												<span class="stepIndicator">Step 1: 3A</span>
												<span class="stepIndicator">Step 2: 3B</span>
												<span class="stepIndicator">Step 3: 3C</span>
											</div>
											<!-- end step indicators -->

											<!-- step one -->
											<div class="step ">
												<div class="boxGrid form-row mb-2">
													<div class="row justify-content-end col-12">
														<div class="col-auto"><h4 class="fw-bold">3A</h4></div>
													</div>
													<div class="row justify-content-center col-12">
														<img src="/static/assets/img/PSA_Logo.png" class="img-fluid PSASize" alt="Responsive image">
													</div>
												</div>
												
												<!-- ----------------------------------------GEOGRAPHIC IDENTIFICATION--------------------------------------------- -->
												<div class="boxGrid form-row mb-2">
													<div class="row justify-content-center col-12">
														<div class="col-auto"><h3 class="fw-bold">GEOGRAPHIC IDENTIFICATION</h3></div>
													</div><br><br>
													<div class="row col-12 ">
														<div class="col-6"><h4>PROVINCE: </h4></div>
														<div class="col-4 fw-bold" id="province">METRO MANILA</div>
													</div><br><br>
													<div class="row col-12 ">
														<div class="col-6"><h4>CITY/MUNICIPALITY: </h4></div>
														<div class="col-4 fw-bold" id="city_municipality">PASIG CITY</div>
													</div><br><br>
													<div class="row col-12">
														<div class="col-6"><h4>BARANGAY: </h4></div>
														<div class="col-4 fw-bold" id="barangay">MANGGAHAN</div>
													</div><br><br>
													<div class="row col-12 pads">
														<div class="col-6"><h4>ENUMERATION AREA NUMBER: </h4></div>
														{{ form.enumeration_area_number }}
													</div><br><br>
													<div class="row col-12 pads">
														<div class="col-6"><h4>BUILDING SERIAL: </h4></div>
														{{ form.building_serial }}
													</div><br><br>
													<div class="row col-12 pads">
														<div class="col-6"><h4>HOUSING UNIT SERIAL NUMBER: </h4></div>
														{{ form.housing_unit_serial_number }}
													</div><br><br>
													<div class="row col-12 pads">
														<div class="col-6"><h4>HOUSEHOLD SERIAL NUMBER: </h4></div>
														{{ form.household_serial_number }}
													</div><br><br>
													<div class="row col-12 pads">
														<div class="col-6"><h4>LINE NUMBER OF THE RESPONDENTS: </h4></div>
														{{ form.line_number_respondents }}
													</div>
													<div class="row col-12 padsWithHolder">
														<div class="col-4"><h4>NAME OF THE HOUSEHOLD HEAD: </h4></div>
														{{ form.last_name }}
														{{ form.first_name }}
													</div>
													<div class="row col-12">
														<div class="col-4"></div>
														<div class="col-3"><div class="text-center font-weight-bold">LAST NAME</div></div>
														<div class="col-3 ml-3"><div class="text-center font-weight-bold">FIRST NAME</div></div>
													</div>
													<div class="row col-md-12 padsWithHolder">
														<div class="col-4"><h4>ADDRESS: </h4></div>
														{{ form.address }}
													</div>
													<div class="row col-12">
														<div class="col-4"></div>
														<div class="col-8"><div class="text-center font-weight-bold">HOUSE/BUILDING NUMBER AND STREET OR SITIO/PUROK NAME</div></div>
													</div>
												</div>
												<!-- ---------------------------------------- END OF GEOGRAPHIC IDENTIFICATION --------------------------------------------- -->
												
												<!-- ---------------------------------------- INTERVIEW RECORD --------------------------------------------- -->
												<div class="boxGrid form-row">
													<div class="row justify-content-center col-12">
														<div class="col-auto"><h3 class="fw-bold">INTERVIEW RECORD</h3></div>
													</div>
													
													<div class="row col-12 no-gutters">
														<div class="row boxGridChildLeft col-7 no-gutters">
															<div class="row col-12 no-gutters">
																<div class="col-4 boxTitle mr-4 ml-2 font-weight-bold"><div class="align-self-center">VISIT NUMBER</div></div>
																<div class="col-2 boxTitle mr-1 font-weight-bold"><div class="align-self-center">1</div></div>
																<div class="col-2 boxTitle mr-1 font-weight-bold"><div class="align-self-center">2</div></div>
																<div class="col-2 boxTitle mr-1 font-weight-bold"><div class="align-self-center">3</div></div>
															</div>
															<div class="row col-12 no-gutters">
																<div class="col-4 d-flex align-items-center justify-content-center mr-4 ml-2 font-weight-bold">
																	<div class="visitAlign">DATE<br><span class="text-muted titleFont">MONTH/DAY</span></div>
																</div>
																{{ form.date_1 }}
																<input type="text" class="form-control col-2 inputBorder mt-1 mr-1 datePick" placeholder="mm/dd">
																<input type="text" class="form-control col-2 inputBorder mt-1 mr-1 datePick" placeholder="mm/dd">
																
																
															</div>
															<div class="row col-12 no-gutters">
																<div class="col-4 d-flex align-items-center justify-content-center mr-4 ml-2 font-weight-bold">
																	<div class="visitAlign">TIME BEGIN<br><span class="text-muted titleFont">HOUR:MINUTE</span></div>
																</div>
																{{ form.time_begin_1 }}
																<input type="text" class="form-control col-2 inputBorder mt-1 mr-1" placeholder="am/pm">
																<input type="text" class="form-control col-2 inputBorder mt-1 mr-1" placeholder="am/pm">
															</div>
															<div class="row col-12 no-gutters">
																<div class="col-4 d-flex align-items-center justify-content-center mr-4 ml-2 font-weight-bold">
																	<div class="visitAlign">TIME ENDED<br><span class="text-muted titleFont">HOUR:MINUTE</span></div>
																</div>
																{{ form.time_ended_1 }}
																<input type="text" class="form-control col-2 inputBorder mt-1 mr-1" placeholder="am/pm">
																<input type="text" class="form-control col-2 inputBorder mt-1 mr-1" placeholder="am/pm">
															</div>
															<div class="row col-12 no-gutters mb-1">
																<div class="col-4 d-flex align-items-center justify-content-center mr-4 ml-2 font-weight-bold">RESULT OF VISIT</div>
																<input type="text" class="form-control col-2 inputBorder mt-1 mr-1">
																<input type="text" class="form-control col-2 inputBorder mt-1 mr-1">
																<input type="text" class="form-control col-2 inputBorder mt-1 mr-1">
															</div>
															<!-- ------------------ CODE FOR THE RESULT OF VISIT ----------------------------- -->
															<!-- Horizontal line -->
															<div class="row col-11 no-gutters"><hr></div> 
															<div class="row col-12 justify-content-center no-gutters">
																<div class="col-auto"><h3 class="fw-bold">CODE FOR THE RESULT OF VISIT</h3></div>
															</div>
															<!-- Horizontal line -->
															<div class="row col-11 no-gutters"><hr></div>
															
															<div class="row col-12 no-gutters">
																<div class="col-6 d-flex justify-content-center">1. COMPLETED *</div>
																<div class="col-6 d-flex justify-content-center">4. REFUSED</div>
															</div>
															<div class="row col-12 no-gutters">
																<div class="col-6 d-flex justify-content-center">2. NOT YET COMPLETED<br>(FOR CALLBACK)</div>
																<div class="col-6 d-flex justify-content-center">
																	<div class="visitAlign">
																		5. OTHERS, SPECIFY *<br>
																		<input type="text" class="form-control col-12 inputBorder mt-1 mr-1">
																	</div>
																</div>
															</div>
															<div class="row col-12 no-gutters">
																<div class="col-6 d-flex justify-content-center">3. ENTRIRE HOUSEHOLD IS <br>ABSENT/AWAY DURING THE <br>ENUMERATION PERIOD *</div>
															</div>
															<!-- ------------------ APPOINTMENT FOR THE NEXT VISIT ----------------------------- -->
															<!-- Horizontal line -->
															<div class="row col-11 no-gutters"><hr></div> 
															<div class="row col-12 justify-content-center no-gutters">
																<div class="col-auto"><h3 class="fw-bold">APPOINTMENT FOR THE NEXT VISIT</h3></div>
															</div>
															<!-- Horizontal line -->
															<div class="row col-11 no-gutters"><hr></div>
															
															<div class="row col-12 no-gutters">
																<div class="col-4 boxTitle mr-4 ml-2 font-weight-bold"><div class="align-self-center">VISIT NUMBER</div></div>
																<div class="col-2 boxTitle mr-1 font-weight-bold"><div class="align-self-center">1</div></div>
																<div class="col-2 boxTitle mr-1 font-weight-bold"><div class="align-self-center">2</div></div>
																<div class="col-2 boxTitle mr-1 font-weight-bold"><div class="align-self-center">3</div></div>
															</div>
															<div class="row col-12 no-gutters">
																<div class="col-4 d-flex align-items-center justify-content-center mr-4 ml-2 font-weight-bold">
																	<div class="visitAlign">DATE<br><span class="text-muted titleFont">MONTH/DAY</span></div>
																</div>
																<input type="text" class="form-control col-2 inputBorder mt-1 mr-1" placeholder="mm/dd">
																<input type="text" class="form-control col-2 inputBorder mt-1 mr-1" placeholder="mm/dd">
																<input type="text" class="form-control col-2 inputBorder mt-1 mr-1" placeholder="mm/dd">


															</div>
															<div class="row col-12 no-gutters">
																<div class="col-4 d-flex align-items-center justify-content-center mr-4 ml-2 font-weight-bold">
																	<div class="visitAlign">TIME<br><span class="text-muted titleFont">HOUR:MINUTE</span></div>
																</div>
																<input type="text" class="form-control col-2 inputBorder mt-1 mr-1" placeholder="am/pm">
																<input type="text" class="form-control col-2 inputBorder mt-1 mr-1" placeholder="am/pm">
																<input type="text" class="form-control col-2 inputBorder mt-1 mr-1" placeholder="am/pm">
															</div>
														</div>
														<!-- ------------------ SUMMARY OF VISIT ----------------------------- -->
														<div class="row boxGridChildRight col-5 no-gutters p-2">
															<div class="row col-12 no-gutters custom-row align-items-center">
																<div class="col-12 boxTitle font-weight-bold">
																	<div class="align-self-center">SUMMARY OF VISIT</div>
																</div>
															</div>
															
															<div class="row col-12 no-gutters">
																<div class="col-8 d-flex align-items-center">NUMBER OF VISIT/S MADE</div>
																<div class="col-4 d-flex align-items-center">
																	<!-- <input type="text" class="form-control col-12 inputBorder mt-1"> -->
																	{{ form.number_of_visit }}
																</div>
															</div>
															<div class="row col-12 no-gutters">
																<div class="col-8 d-flex align-items-center">RESULT OF FINAL VISIT*</div>
																<div class="col-4 d-flex align-items-center">
																	<!-- <input type="text" class="form-control col-12 inputBorder mt-1"> -->
																	{{ form.result_of_final_visit }}
																</div>
															</div>
															<div class="row col-12 no-gutters">
																<div class="col-8 d-flex align-items-center">NUMBER OF HOUSEHOLD MEMBER</div>
																<div class="col-4 d-flex align-items-center">
																	<!-- <input type="text" class="form-control col-12 inputBorder mt-1"> -->
																	{{ form.number_of_household_member }}
																</div>
															</div>
															<div class="row col-12 no-gutters">
																<div class="col-8 d-flex align-items-center">NUMBER OF MALE</div>
																<div class="col-4 d-flex align-items-center">
																	<!-- <input type="text" class="form-control col-12 inputBorder mt-1"> -->
																	{{ form.number_male }}
																</div>
															</div>
															<div class="row col-12 no-gutters">
																<div class="col-8 d-flex align-items-center">NUMBER OF FEMALE</div>
																<div class="col-4 d-flex align-items-center">
																	<!-- <input type="text" class="form-control col-12 inputBorder mt-1"> -->
																	{{ form.number_female }}
																</div>
															</div>
															<div class="row col-12 no-gutters">
																<div class="col-8 d-flex align-items-center">ENUMERATOR'S CODE</div>
																<div class="col-4 d-flex align-items-center">
																	<!-- <input type="text" class="form-control col-12 inputBorder mt-1"> -->
																	{{ form.enumerator_code }}
																</div>
															</div>
															<div class="row col-12 no-gutters">
																<div class="col-8 d-flex align-items-center">MODE OF DATA COLLECTION</div>
																<div class="col-4 d-flex align-items-center">
																	<!-- <input type="text" class="form-control col-12 inputBorder mt-1"> -->
																	{{ form.mode_of_data_collection }}
																</div>
															</div>
															<div class="row col-12 no-gutters titleFont">
																<div class="col-10">1. PAPER AND PENCIL PERSONAL INTERVIEW </div>
																<div class="col-2 text-left font-weight-bold">(PAPI)</div>
															</div>
															<div class="row col-12 no-gutters titleFont">
																<div class="col-10">2. SELF-ADMINISTERED QUESTIONNAIRE </div>
																<div class="col-2 text-left font-weight-bold">(SAQ)</div>
															</div>
															<div class="row col-12 no-gutters titleFont">
																<div class="col-10">3. COMPUTER-ASSISTED PERSONAL INTERVIEW </div>
																<div class="col-2 text-left font-weight-bold">(CAPI)</div>
															</div>
														</div>
													</div>
												</div>
											<!-- ---------------------------------------- END OF INTERVIEW RECORD --------------------------------------------- -->
											</div>
										
											<!-- step two -->
											<!-- <div class="step">
												<p class="text-center mb-4">Your presence on the social network</p>
												<div class="mb-3">
													<input type="text" placeholder="Linked In" oninput="this.className = ''" name="linkedin">
												</div>
												<div class="mb-3">
													<input type="text" placeholder="Twitter" oninput="this.className = ''" name="twitter">
												</div>
												<div class="mb-3">
													<input type="text" placeholder="Facebook" oninput="this.className = ''" name="facebook">
												</div>
											</div> -->
										
											<!-- step three -->
											<!-- <div class="step">
												<p class="text-center mb-4">We will never sell it</p>
												<div class="mb-3">
													<input type="text" placeholder="Full name" oninput="this.className = ''" name="fullname">
												</div>
												<div class="mb-3">
													<input type="text" placeholder="Mobile" oninput="this.className = ''" name="mobile">
												</div>
												<div class="mb-3">
													<input type="text" placeholder="Address" oninput="this.className = ''" name="address">
												</div>
											</div> -->
										
											<!-- start previous / next buttons -->
											<div class="form-footer d-flex justify-content-between">
												<!-- <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
												<button type="button" class="btn btn-md nextBtn" id="nextBtn" onclick="nextPrev(1)">Next</button> -->
												<button type="submit">submit</button>
											</div>
											
										</form>
									</div>
								<!-- </div> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

	<script src="/static/assets/js/setting-demo2.js"></script>
	<script src="/static/assets/js/forms.js"></script>

	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	
	<script type="text/javascript">
		$(document).ready(function() {
		$('#reservationDate').datetimepicker();
		});
	</script> -->
{% endblock javascripts %}	
