{% extends "layouts/base.html" %}

<!-- {% block title %} UI Forms {% endblock %}  -->

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
	<link rel="stylesheet" href="/static/assets/css/forms.css">
{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">Forms</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="#">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Forms</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Basic Form</a>
					</li>
				</ul>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Form Elements</div>
						</div>
						<div class="card-body ">
							<div class=" overflow-hidden background">
								<div class="m-auto">
									<form class="CensusFormClass col-auto" id="CensusFormId" method=POST>
										{% csrf_token %}
										<!-- start step indicators -->
										<div class="form-header d-flex justify-content-between mb-4">
											<span class="stepIndicator">Step 1: 3A</span>
											<span class="stepIndicator">Step 2: 3B</span>
											<span class="stepIndicator">Step 3: 3C</span>
											<span class="stepIndicator">Step 4: 3D</span>
											<span class="stepIndicator">Step 5: 3E</span>
											<span class="stepIndicator">Step 6: 3F</span>
											<span class="stepIndicator">Step 7: 3G</span>
											<span class="stepIndicator">Step 8: 3H</span>
										</div>
										<!-- end step indicators -->

										<!-- step one -->
										<div class="step ">
											<div class="boxGrid form-row mb-2">
												<div class="row justify-content-end col-12">
													<div class="col-auto"><h4 class="fw-bold">3A</h4></div>
												</div>
												<div class="row justify-content-center col-12">
													<img src="/static/assets/img/PSA_Logo.png" class="img-fluid PSASize" alt="Responsive image">
												</div>
											</div>
											
											<!-- ----------------------------------------GEOGRAPHIC IDENTIFICATION--------------------------------------------- -->
											<div class="boxGrid form-row mb-2">
												<div class="row justify-content-center col-12">
													<div class="col-auto"><h3 class="fw-bold">GEOGRAPHIC IDENTIFICATION</h3></div>
												</div><br><br>
												<div class="row col-12 ">
													<div class="col-6"><h4>PROVINCE: </h4></div>
													<div class="col-4 fw-bold" id="province">METRO MANILA</div>
												</div><br><br>
												<div class="row col-12 ">
													<div class="col-6"><h4>CITY/MUNICIPALITY: </h4></div>
													<div class="col-4 fw-bold" id="city_municipality">PASIG CITY</div>
												</div><br><br>
												<div class="row col-12">
													<div class="col-6"><h4>BARANGAY: </h4></div>
													<div class="col-4 fw-bold" id="barangay">MANGGAHAN</div>
												</div><br><br>
												<div class="row col-12 pads">
													<div class="col-6"><h4>ENUMERATION AREA NUMBER: </h4></div>
													{{ form.enumeration_area_number }}
												</div><br><br>
												<div class="row col-12 pads">
													<div class="col-6"><h4>BUILDING SERIAL: </h4></div>
													{{ form.building_serial }}
												</div><br><br>
												<div class="row col-12 pads">
													<div class="col-6"><h4>HOUSING UNIT SERIAL NUMBER: </h4></div>
													{{ form.housing_unit_serial_number }}
												</div><br><br>
												<div class="row col-12 pads">
													<div class="col-6"><h4>HOUSEHOLD SERIAL NUMBER: </h4></div>
													{{ form.household_serial_number }}
												</div><br><br>
												<div class="row col-12 pads">
													<div class="col-6"><h4>LINE NUMBER OF THE RESPONDENTS: </h4></div>
													{{ form.line_number_respondents }}
												</div>
												<div class="row col-12 padsWithHolder">
													<div class="col-4"><h4>NAME OF THE HOUSEHOLD HEAD: </h4></div>
													{{ form.last_name }}
													{{ form.first_name }}
												</div>
												<div class="row col-12">
													<div class="col-4"></div>
													<div class="col-3"><div class="text-center font-weight-bold">LAST NAME</div></div>
													<div class="col-3 ml-3"><div class="text-center font-weight-bold">FIRST NAME</div></div>
												</div>
												<div class="row col-md-12 padsWithHolder">
													<div class="col-4"><h4>ADDRESS: </h4></div>
													{{ form.address }}
												</div>
												<div class="row col-12">
													<div class="col-4"></div>
													<div class="col-8"><div class="text-center font-weight-bold">HOUSE/BUILDING NUMBER AND STREET OR SITIO/PUROK NAME</div></div>
												</div>
											</div>
											<!-- ---------------------------------------- END OF GEOGRAPHIC IDENTIFICATION --------------------------------------------- -->
											
											<!-- ---------------------------------------- INTERVIEW RECORD --------------------------------------------- -->
											<div class="boxGrid form-row">
												<div class="row justify-content-center col-12">
													<div class="col-auto"><h3 class="fw-bold">INTERVIEW RECORD</h3></div>
												</div>
												
												<div class="row col-12 no-gutters">
													<div class="row boxGridChildLeft col-7 no-gutters">
														<div class="row col-12 no-gutters">
															<div class="col-4 boxTitle ml-2 mb-2 font-weight-bold"><div class="align-self-center">VISIT NUMBER</div></div>
														</div>
														<div class="row col-12 no-gutters">
															<div class="col-2 boxTitle ml-2 mb-2 font-weight-bold"><div class="align-self-center">1</div></div>
														</div>
														<div class="row col-12 no-gutters">
															<div class="col-4 d-flex align-items-center justify-content-center mr-4 ml-2 font-weight-bold">
																<div class="visitAlign">DATE & TIME CREATED<br><span class="text-muted titleFont">MONTH/DAY/YEAR HH:MM</span></div>
															</div>
															{{ form.date_time_created_1 }}
														</div>
														<div class="row col-12 no-gutters">
															<div class="col-4 d-flex align-items-center justify-content-center mr-4 ml-2 font-weight-bold">
																<div class="visitAlign">DATE & TIME ENDED<br><span class="text-muted titleFont">MONTH/DAY/YEAR HH:MM</span></div>
															</div>
															{{ form.date_time_ended_1 }}
														</div>
														<div class="row col-12 no-gutters">
															<div class="col-4 d-flex align-items-center justify-content-center mr-4 ml-2 font-weight-bold">
																<div class="visitAlign">RESULT</div>
															</div>
															<div class="col-7 d-flex align-items-center">
																{{ form.result_1 }}
															</div>
															
														</div>
														<div class="row col-12 no-gutters">
															<div class="col-4 d-flex align-items-center justify-content-center mr-4 ml-2 font-weight-bold">
																
															</div>
															{{ form.result_description_1 }}
														</div>
														<div class="row col-12 no-gutters">
															<button type="button" class="col-3 mb-2">Add Visit</button>
														</div>
														
														<!-- ------------------ APPOINTMENT FOR THE NEXT VISIT ----------------------------- -->
														<!-- Horizontal line -->
														<div class="row col-11 no-gutters"><hr></div> 
														<div class="row col-12 justify-content-center no-gutters">
															<div class="col-auto"><h3 class="fw-bold">APPOINTMENT FOR THE NEXT VISIT</h3></div>
														</div>
														<div class="row col-11 no-gutters"><hr></div>
														<!-- Horizontal line -->

														<div class="row col-12 no-gutters">
															<div class="col-4 d-flex align-items-center justify-content-center mr-4 ml-2 font-weight-bold">
																<div class="visitAlign"> DATE & TIME<br><span class="text-muted titleFont">MONTH/DAY/YEAR HH:MM</span></div>
															</div>
															{{ form.appointment_date_time_1 }}
														</div>

														<div class="row col-12 no-gutters">
															<button type="button" class="col-3 mb-2">Add Appointment</button>
														</div>
														
													</div>
													<!-- ------------------ SUMMARY OF VISIT ----------------------------- -->
													<div class="row boxGridChildRight col-5 no-gutters p-2">
														<div class="row col-12 no-gutters custom-row align-items-center">
															<div class="col-12 boxTitle font-weight-bold">
																<div class="align-self-center">SUMMARY OF VISIT</div>
															</div>
														</div>
														
														<div class="row col-12 no-gutters">
															<div class="col-8 d-flex align-items-center">NUMBER OF VISIT/S MADE</div>
															<div class="col-4 d-flex align-items-center">
																{{ form.number_of_visit }}
															</div>
														</div>
														<div class="row col-12 no-gutters">
															<div class="col-8 d-flex align-items-center">RESULT OF FINAL VISIT*</div>
															<div class="col-4 d-flex align-items-center">
																{{ form.result_of_final_visit }}
															</div>
														</div>
														<div class="row col-12 no-gutters">
															<div class="col-8 d-flex align-items-center">NUMBER OF HOUSEHOLD MEMBER</div>
															<div class="col-4 d-flex align-items-center">
																{{ form.number_of_household_member }}
															</div>
														</div>
														<div class="row col-12 no-gutters">
															<div class="col-8 d-flex align-items-center">NUMBER OF MALE</div>
															<div class="col-4 d-flex align-items-center">
																{{ form.number_male }}
															</div>
														</div>
														<div class="row col-12 no-gutters">
															<div class="col-8 d-flex align-items-center">NUMBER OF FEMALE</div>
															<div class="col-4 d-flex align-items-center">
																{{ form.number_female }}
															</div>
														</div>
														<div class="row col-12 no-gutters">
															<div class="col-8 d-flex align-items-center">ENUMERATOR'S CODE</div>
															<div class="col-4 d-flex align-items-center">
																{{ form.enumerator_code }}
															</div>
														</div>
														<div class="row col-12 no-gutters">
															<div class="col-8 d-flex align-items-center">MODE OF DATA COLLECTION</div>
															<div class="col-4 d-flex align-items-center">
																{{ form.mode_of_data_collection }}
															</div>
														</div>
														<div class="row col-12 no-gutters titleFont">
															<div class="col-10">1. PAPER AND PENCIL PERSONAL INTERVIEW </div>
															<div class="col-2 text-left font-weight-bold">(PAPI)</div>
														</div>
														<div class="row col-12 no-gutters titleFont">
															<div class="col-10">2. SELF-ADMINISTERED QUESTIONNAIRE </div>
															<div class="col-2 text-left font-weight-bold">(SAQ)</div>
														</div>
														<div class="row col-12 no-gutters titleFont">
															<div class="col-10">3. COMPUTER-ASSISTED PERSONAL INTERVIEW </div>
															<div class="col-2 text-left font-weight-bold">(CAPI)</div>
														</div>
													</div>
												</div>
											</div>
										<!-- ---------------------------------------- END OF INTERVIEW RECORD --------------------------------------------- -->
										</div>
									
										<!-- step two -->
										<div class="step">
											<div class="boxGrid form-row mb-2">
												<div class="row justify-content-left col-12">
													<div class="col-auto"><h4 class="fw-bold">3B</h4></div>
												</div>
												<div class="row justify-content-center col-12 titleEdit">POPULATION CENSUS QUESTIONS</div>

												<div class="boxGrid row col-12 ml-1">
													<div class="col-3">
														<h5 class="fw-bold">GENERAL INSTRUCTION</h5>
													</div>
													<div class="col-9">
														<div class="row col-12 fw-bold">1. WRITE THE DETAILED ANSWER/DESCRIPTION ON THE LINE.</div>
														<div class="row col-12 fw-bold">2. WRITE THE NUMBER OR CODE CORRESPONDING TO THE ANSWER IN THE BOXES.</div>
														<div class="row col-12 fw-bold">3. REFER TO THE CODES FOR ITEMS P2 AT BOTTOM OF THIS PAGE.</div>
													</div>
												</div>

												<div class="row col-12 ml-1 justify-content-center">
													<div class="col-auto">
														<h3 class="fw-bold">FOR ALL PERSONS</h3>
													</div>
												</div>

												<div class=" row col-12 ml-1">
													<div class="col-2 boxGrid fw-bold">Name</div>
													<div class="col-2 boxGridChildWithoutLeft fw-bold">Relationship to the Household Head</div>
													<div class="col-1 boxGridChildWithoutLeft fw-bold">Sex</div>
													<div class="col-2 boxGridChildWithoutLeft fw-bold">Date of Birth</div>
													<div class="col-1 boxGridChildWithoutLeft fw-bold">Age</div>
													<div class="col-2 boxGridChildWithoutLeft fw-bold">Birth Registration</div>
													<div class="col-2 boxGridChildWithoutLeft fw-bold">Marital Status</div>
												</div>

												<div class="row col-12 ml-1">
													<div class="col-2 boxTitle">P1</div>
													<div class="col-2 boxTitle">P2</div>
													<div class="col-1 boxTitle">P3</div>
													<div class="col-2 boxTitle">P4</div>
													<div class="col-1 boxTitle">P5</div>
													<div class="col-1 boxTitle">P6</div>
													<div class="col-1 boxTitle">P7</div>
													<div class="col-2 boxTitle">P8</div>
												</div>

												<div class="row col-12 ml-1">
													<div class="col-2 boxGrid">
														Who is the head of this household? Who are the persons usually residing here as of May 1, 2020<br><br>
														ORDER OF LISTING:<br>
														<li>Head</li>
														<li>Spouse of the head</li>
														<li>Never-married children of the head/spouse, from the oldest to the youngest</li>
														<li>Ever-married children of the head/spouse, from the oldest to the youngest</li>
														<li>Other relatives of the head</li>	
														<li>Nonrelatives of the head</li>
													</div>
													<div class="col-2 boxGridChildWithoutLeft">What is ___'s relationship to the head of this household?</div>
													<div class="col-1 boxGridChildWithoutLeft">Is ___ male or female</div>
													<div class="col-2 boxGridChildWithoutLeft">In what month and year was ___ born?</div>
													<div class="col-1 boxGridChildWithoutLeft">What is ___'s age as of his/her last birthday?</div>
													<div class="col-1 boxGridChild3BInstruc">Was ___'s birth registered with the Local Civil Registry Office?</div>
													<div class="col-1 boxGridChildWithoutLeft">Has ___ ever had a copy of his/her birth certificate?</div>
													<div class="col-2 boxGridChildWithoutLeft">Is ___ single, married, common law/ live-in, widowed, or divorced/separated/annulled?</div>
												</div>

												<div class="row col-12 ml-1">
													<div class="col-2 boxGridChildWithoutTop">{{form.residing_fullname_1}}</div>
													<div class="col-2 boxGridChildWithoutTopLeft">{{form.relationship_to_head_1}}</div>
													<div class="col-1 boxGridChildWithoutTopLeft">{{form.gender_1}}</div>
													<div class="col-2 boxGridChildWithoutTopLeft">{{form.date_born_1}}</div>
													<div class="col-1 boxGridChildWithoutTopLeft">{{form.age_1}}</div>
													<div class="col-1 boxGridChildOnlyBot">{{form.birth_registered_1}}</div>
													<div class="col-1 boxGridChildWithoutTopLeft">{{form.copy_birthcert_1}}</div>
													<div class="col-2 boxGridChildWithoutTopLeft">{{form.marital_status_1}}</div>
												</div>

											
												<div class="row col-12 no-gutters">
													<button type="button" class="col-2 mb-2 mt-2">Add Member</button>
												</div>

												<div class="row col-12 ml-1">
													<div class="col-6 boxGrid justify-content-center">
														<div class="col-12 justify-content-center"><div class="col-auto">CHECK FOR THE PERSONS NOT YET LISTED</div></div>
													</div>
													<div class="col-6 boxGridChildWithoutLeft justify-content-center">
														<div class="col-12 justify-content-center"><div class="col-auto">INDICATOR FOR ADDITIONAL BOOKLET</div></div>
													</div>
												</div>

												<div class="row col-12 ml-1">
													<div class="col-6 boxGridChildWithoutTop justify-content-center">
														<div class="col-12 justify-content-center"><div class="col-auto">
															Are there other person in this household who were not yet listed, such as infants, small children, elderly person, and overseas worker?
															
														</div></div>
														<div class="col-12 justify-content-center"><div class="col-auto">{{form.not_yet_listed}}</div></div>
													</div>
													<div class="col-6 boxGridChildWithoutTopLeft justify-content-center">
														<div class="col-12 justify-content-center"><div class="col-auto">Are there more than six(6) member in this household?</div></div>
														<div class="col-12 justify-content-center"><div class="col-auto">{{form.additional_booklet}}</div></div>
													</div>
												</div>

											</div>
										</div>
									
										<!-- step three -->
										<div class="step">
											<div class="boxGrid form-row mb-2">
												<div class="row justify-content-left col-12">
													<div class="col-auto"><h4 class="fw-bold">3C</h4></div>
												</div>
												<div class="row justify-content-center col-12 titleEdit">POPULATION CENSUS QUESTIONS</div>

												<div class=" row col-12 ml-1">
													<div class=" boxGridChildWithoutRight col-3">
														<h5 class="fw-bold">GENERAL INSTRUCTION</h5>
													</div>
													<div class="boxGridChildWithoutLeft col-9">
														<div class="row col-12 fw-bold">1. WRITE THE DETAILED ANSWER/DESCRIPTION ON THE LINE.</div>
														<div class="row col-12 fw-bold">2. WRITE THE NUMBER OR CODE CORRESPONDING TO THE ANSWER IN THE BOXES.</div>
														<div class="row col-12 fw-bold">3. REFER TO THE CODE BOOK FOR CODES IN ITEMS P9, P11, P12.</div>
													</div>
												</div>

												<div class="row col-12 ml-1">
													<div class=" boxGridChildWithoutTopBottom col-8 justify-content-center">
														<div class="fw-bold">FOR ALL PERSONS</div>
													</div>

													<div class=" boxGridChildOnlyRight col-4 justify-content-center">
														<div class="fw-bold">FOR ALL PERSONS 5 YEARS OLD AND OVER</div>
													</div>

												</div>

												<div class=" row col-12 ml-1">
													<div class="col-2 boxGrid fw-bold">Religious Affiliation</div>
													<div class="col-2 boxGridChildWithoutLeft fw-bold">Citizenship</div>
													<div class="col-2 boxGridChildWithoutLeft fw-bold">Ethnicity</div>
													<div class="col-6 boxGridChildWithoutLeft fw-bold">Functional Difficulty</div>
												</div>

												<div class="row col-12 ml-1">
													<div class="col-2 boxTitle">P9</div>
													<div class="col-1 boxTitle">P10</div>
													<div class="col-1 boxTitle">P11</div>
													<div class="col-2 boxTitle">P12</div>
													<div class="col-6 boxTitle">P8</div>
												</div>

												<div class="row col-12 ml-1">
													<div class="col-2 boxGrid">What is ___'s religious affiliation?</div>
													<div class="col-1 boxGridChildWithoutLeft">
														Is ___ a citizen of the Philippines?<br><br>
														IF CODE "1" GO TO ITEM 12.
													</div>
													<div class="col-1 boxGridChildWithoutLeft">What country/ other country is ___ a citizen of?</div>
													<div class="col-2 boxGridChildWithoutLeft">
														What is ___'s ethnicity by descent/ blood relation/ consanguinity?<br><br>
														Is he/she a/an ___?<br><br>
														MENTION THE PREDIMINANT/ COMMON INDIGENOUS PEOPLES (IP) OR NON-IP GROUPS IN THE AREA.
													</div>
													<div class="col-6 boxGridChildWithoutLeft">
														The following question ask about difficulties a person may have doing certain activities because of a HEALTH PROBLEMS.<br><br>
														Does ___ have any difficulty/ problem in ...?
														<div class="row">
															<div class="col-2 boxTitle">a</div>
															<div class="col-2 boxTitle">b</div>
															<div class="col-2 boxTitle">c</div>
															<div class="col-2 boxTitle">d</div>
															<div class="col-2 boxTitle">e</div>
															<div class="col-2 boxTitle">f</div>
														</div>

														<div class="row">
															<div class="col-2 boxGridChildWithoutLeft">Seeing, even if wearing glasses</div>
															<div class="col-2 boxGridChildWithoutLeft">Hearing, even if using hearing aid</div>
															<div class="col-2 boxGridChildWithoutLeft">Walking or climbing steps</div>
															<div class="col-2 boxGridChildWithoutLeft">Remembering or concentrating</div>
															<div class="col-2 boxGridChildWithoutLeft">Self-caring (such as washing all over dressing)</div>
															<div class="col-2 boxGridChildWithoutLeft">Communicating using his/her usual (customary language)</div>
														</div>

														<div class="row">
															<div class="fw-bold">MENTION THESE CATEGORIES:</div><br><br>
															<div class="col-3">1 - NO, no difficulty</div>
															<div class="col-3">2 - YES, some difficulty</div>
															<div class="col-3">3 - YES, a lot of difficulty</div>
															<div class="col-3">4 - Cannot do it at all</div>
														</div>
													</div>
												</div>

												<div class="row col-12 ml-1">
													<div class="col-2 boxGridChildWithoutTop">{{form.religion_1}}</div>
													<div class="col-1 boxGridChildWithoutTopLeft">{{form.citizen_1}}</div>
													<div class="col-1 boxGridChildWithoutTopLeft">{{form.other_country_1}}</div>
													<div class="col-2 boxGridChildWithoutTopLeft">{{form.ethnicity_1}}</div>
													<div class="col-6 boxGridChildWithoutTopLeft">
														<div class="row">
															<div class="col-2 boxTitle">a</div>
															<div class="col-2 boxTitle">b</div>
															<div class="col-2 boxTitle">c</div>
															<div class="col-2 boxTitle">d</div>
															<div class="col-2 boxTitle">e</div>
															<div class="col-2 boxTitle">f</div>
														</div>
														<div class="row">
															<div class="col-2 boxGridChildWihoutLeftBottom">{{form.health_problem_a_1}}</div>
															<div class="col-2 boxGridChildWihoutLeftBottom">{{form.health_problem_b_1}}</div>
															<div class="col-2 boxGridChildWihoutLeftBottom">{{form.health_problem_c_1}}</div>
															<div class="col-2 boxGridChildWihoutLeftBottom">{{form.health_problem_d_1}}</div>
															<div class="col-2 boxGridChildWihoutLeftBottom">{{form.health_problem_e_1}}</div>
															<div class="col-2 boxGridChildWihoutLeftBottom">{{form.health_problem_f_1}}</div>
														</div>
													</div>
												</div>

											
												<div class="row col-12 no-gutters">
													<button type="button" class="col-2 mb-2 mt-2">Add Member</button>
												</div>

												<div class="row col-12 ml-1 boxGrid">
													<h3 class="fw-bold">Remarks</h3>
													{{form.remarks_3C}}
												</div>

											</div>
										</div>

										<!-- step four -->
										<div class="step">
											<div class="boxGrid form-row mb-2">
												<div class="row justify-content-left col-12">
													<div class="col-auto"><h4 class="fw-bold">3D</h4></div>
												</div>
												<div class="row justify-content-center col-12 titleEdit">POPULATION CENSUS QUESTIONS</div>

												<div class=" row col-12 ml-1">
													<div class=" boxGridChildWithoutRight col-3">
														<h5 class="fw-bold">GENERAL INSTRUCTION</h5>
													</div>
													<div class="boxGridChildWithoutLeft col-9">
														<div class="row col-12 fw-bold">1. WRITE THE DETAILED ANSWER/DESCRIPTION ON THE LINE.</div>
														<div class="row col-12 fw-bold">2. WRITE THE NUMBER OR CODE CORRESPONDING TO THE ANSWER IN THE BOXES.</div>
														<div class="row col-12 fw-bold">3. REFER TO THE CODE BOOK FOR CODES IN ITEMS P14, P15, P19.</div>
													</div>
												</div>

												<div class="row col-12 ml-1">
													<div class=" boxGridChildWithoutTopBottom col-7 justify-content-center">
														<div class="fw-bold">FOR ALL PERSONS 5 YEARS OLD AND OVER</div>
													</div>

													<div class=" boxGridChildOnlyRight col-4 justify-content-center">
														<div class="fw-bold">FOR ALL PERSONS 5 TO 28 YEARS OLD</div>
													</div>

													<div class=" boxGridChildOnlyRight col-1 justify-content-center">
														<div class="fw-bold">FOR ALL PERSONS 15 YEARS OLD AND OVER</div>
													</div>
												</div>

												<div class=" row col-12 ml-1">
													<div class="col-2 boxGrid fw-bold">Residence of Mother at the Time of Birth of the Household Member</div>
													<div class="col-2 boxGridChildWithoutLeft fw-bold">Residence Five (5) Years Ago</div>
													<div class="col-1 boxGridChildWithoutLeft fw-bold">Literacy</div>
													<div class="col-2 boxGridChildWithoutLeft fw-bold">Highest Grade/ Year Completed</div>
													<div class="col-2 boxGridChildWithoutLeft fw-bold">School Attendance</div>
													<div class="col-2 boxGridChildWithoutLeft fw-bold">Place of School</div>
													<div class="col-1 boxGridChildWithoutLeft fw-bold">Overseas Worker</div>
												</div>

												<div class="row col-12 ml-1">
													<div class="col-2 boxTitle">P14</div>
													<div class="col-2 boxTitle">P15</div>
													<div class="col-1 boxTitle">P16</div>
													<div class="col-2 boxTitle">P17</div>
													<div class="col-2 boxTitle">P18</div>
													<div class="col-2 boxTitle">P19</div>
													<div class="col-1 boxTitle">P20</div>
												</div>

												<div class="row col-12 ml-1">
													<div class="col-2 boxGrid">In what province and city/municipality did ___'s mother reside at the time of ___'s birth?</div>
													<div class="col-2 boxGridChildWithoutLeft">In what province and city/municipality did ___ reside on May 1, 2015?</div>
													<div class="col-1 boxGridChildWithoutLeft">Can ___ read and write a simple message in any language or dialect?</div>
													<div class="col-2 boxGridChildWithoutLeft">What is the highest grade/ year complete by ___?</div>
													<div class="col-2 boxGridChildWithoutLeft">Did ___ attend school at anytime from June 2019 to May 2020?<br><br> IF CODE "2", GO TO ITEM P20</div>
													<div class="col-2 boxGridChildWithoutLeft">In what province and city/ municipality did ___ attend school?</div>
													<div class="col-1 boxGridChildWithoutLeft">Is ___ an overseas worker?</div>
												</div>

												<div class="row col-12 ml-1">
													<div class="col-2 boxGridChildWithoutTop">{{form.province_time_birth_1}}<br>{{form.municipality_time_birth_1}}</div>
													<div class="col-2 boxGridChildWithoutTopLeft">{{form.province_reside_1}}<br>{{form.municipality_reside_1}}</div>
													<div class="col-1 boxGridChildWithoutTopLeft">{{form.read_write_1}}</div>
													<div class="col-2 boxGridChildWithoutTopLeft">{{form.highest_year_completed_1}}</div>
													<div class="col-2 boxGridChildWithoutTopLeft">{{form.attend_school_1}}</div>
													<div class="col-2 boxGridChildWithoutTopLeft">{{form.province_school_attended_1}}<br>{{form.municipality_school_attended_1}}</div>
													<div class="col-1 boxGridChildWithoutTopLeft">{{form.overseas_worker_1}}</div>
													
												</div>

											
												<div class="row col-12 no-gutters">
													<button type="button" class="col-2 mb-2 mt-2">Add Member</button>
												</div>
											</div>
										</div>

										<!-- step five -->
										<div class="step">
											<div class="boxGrid form-row mb-2">
												<div class="row justify-content-left col-12">
													<div class="col-auto"><h4 class="fw-bold">3E</h4></div>
												</div>
												<div class="row justify-content-center col-12 titleEdit">POPULATION CENSUS QUESTIONS</div>

												<div class=" row col-12 ml-1">
													<div class=" boxGridChildWithoutRight col-3">
														<h5 class="fw-bold">GENERAL INSTRUCTION</h5>
													</div>
													<div class="boxGridChildWithoutLeft col-9">
														<div class="row col-12 fw-bold">1. WRITE THE DETAILED ANSWER/DESCRIPTION ON THE LINE.</div>
														<div class="row col-12 fw-bold">2. WRITE THE NUMBER OR CODE CORRESPONDING TO THE ANSWER IN THE BOXES.</div>
														<div class="row col-12 fw-bold">3. REFER TO THE CODE BOOK FOR CODES IN ITEM P24.</div>
													</div>
												</div>

												<div class="row col-12 ml-1">
													<div class=" boxGridChildWithoutTopBottom col-7 justify-content-center">
														<div class="fw-bold">FOR ALL PERSONS 15 YEARS OLD AND OVER</div>
													</div>

													<div class=" boxGridChildOnlyRight col-5 justify-content-center">
														<div class="fw-bold">FOR ALL FEMALE PERSONS 15 TO 49 YEARS OLD</div>
													</div>

												</div>

												<div class=" row col-12 ml-1">
													<div class="col-2 boxGrid fw-bold">Usual Activity/ Occupation</div>
													<div class="col-2 boxGridChildWithoutLeft fw-bold">Kind of Business or Industry</div>
													<div class="col-1 boxGridChildWithoutLeft fw-bold">Class of Worker</div>
													<div class="col-2 boxGridChildWithoutLeft fw-bold">Place of Work</div>
													<div class="col-5 boxGridChildWithoutLeft fw-bold">Fertility Indicators</div>
												
												</div>

												<div class="row col-12 ml-1">
													<div class="col-2 boxTitle">P21</div>
													<div class="col-2 boxTitle">P22</div>
													<div class="col-1 boxTitle">P23</div>
													<div class="col-2 boxTitle">P24</div>
													<div class="col-1 boxTitle">P25</div>
													<div class="col-1 boxTitle">P26</div>
													<div class="col-1 boxTitle">P27</div>
													<div class="col-2 boxTitle">P28</div>
												</div>

												<div class="row col-12 ml-1">
													<div class="col-2 boxGrid">During the past 12 months, what was ___'s usual activity/ occupation?</div>
													<div class="col-2 boxGridChildWithoutLeft">In what kind of business of industry did ___ work during the past 12 months?</div>
													<div class="col-1 boxGridChildWithoutLeft">What kind of worker ___ is?</div>
													<div class="col-2 boxGridChildWithoutLeft">In what province and city/ municipality did ___ work during the past 12 months?</div>
													<div class="col-1 boxGridChildWithoutLeft">How many children have been born alive to ___?<br><br> If none, write '00' amd go to item P28</div>
													<div class="col-1 boxGridChildWithoutLeft">From among the children who have been born alive to ___, how many are still living?</div>
													<div class="col-1 boxGridChildWithoutLeft">From among the children who have been born alive to ___, how many were born alive from May 1, 2019 to April 30,2020</div>
													<div class="col-2 boxGridChildWithoutLeft">What was ___'s age at first marriage?</div>
												</div>

												<div class="row col-12 ml-1">
													<div class="col-2 boxGridChildWithoutTop">{{form.usual_activity_1}}</div>
													<div class="col-2 boxGridChildWithoutTopLeft">{{form.business_worked_1}}</div>
													<div class="col-1 boxGridChildWithoutTopLeft">{{form.kind_of_worker_1}}</div>
													<div class="col-2 boxGridChildWithoutTopLeft">{{form.province_work_past12months_1}}<br>{{form.municipality_work_past12months_1}}</div>
													<div class="col-1 boxGridChildWithoutTopLeft">{{form.children_borned_1}}</div>
													<div class="col-1 boxGridChildWithoutTopLeft">{{form.children_still_living_1}}</div>
													<div class="col-1 boxGridChildWithoutTopLeft">{{form.children_alive_specificdate_1}}</div>
													<div class="col-2 boxGridChildWithoutTopLeft">{{form.age_firstmarriage_1}}</div>
												</div>

											
												<div class="row col-12 no-gutters">
													<button type="button" class="col-2 mb-2 mt-2">Add Member</button>
												</div>

												<div class="row col-12 ml-1 boxGrid">
													<h3 class="fw-bold">Remarks</h3><br>
													{{form.remarks_3E}}
												</div>
											</div>
										</div>
										
										<!-- step six -->
										<div class="step">
											<div class="boxGrid form-row mb-2">
												<div class="row justify-content-left col-12">
													<div class="col-auto"><h4 class="fw-bold">3E</h4></div>
												</div>
												<div class="row justify-content-center col-12 titleEdit">POPULATION CENSUS QUESTIONS</div>

												<div class=" row col-12 ml-1">
													<div class=" boxGridChildWithoutRight col-3">
														<h5 class="fw-bold">GENERAL INSTRUCTION</h5>
													</div>
													<div class="boxGridChildWithoutLeft col-9">
														<div class="row col-12 fw-bold">1. WRITE THE NUMBER OR CODE CORRESPONDING TO THE ANSWER IN THE BOX.</div>
														<div class="row col-12 fw-bold">2. WRITE THE ANSWER/DETAILED ON THE LINE PROVIDED FOR "OTHER, SPECIFY". IN ITEMS B1 AND B3 TO B6 AND H2.</div>
													</div>
												</div>

												<div class="row col-12 ml-1">
													<div class=" boxGridChildWithoutTopBottom col-10 justify-content-center">
														<div class="fw-bold">ITEMS B1 TO B4 AND B7 ARE TO BE ANSWERED THROUGH OBSERVATION, IF DOUBTFUL, ASK THE RESPONDENT</div>
													</div>

													<div class=" boxGridChildOnlyRight col-2 justify-content-center">
														<div class="fw-bold">CODE</div>
													</div>

												</div>

												<div class=" row col-12 ml-1">
													<div class="col-10 boxGrid">
														<div class="row col-12">
															<div class="fw-bold">B1 Type of building</div>
															{{form.type_of_building}}
														</div>
													</div>
													<div class="col-2 boxGridChildWithoutLeft">{{form.type_of_building_specify}}</div>
												</div>

												<div class=" row col-12 ml-1">
													<div class="col-10 boxGridChildWithoutTop">
														<div class="row col-12">
															<div class="fw-bold">B2 Number of floors of the building</div>
															{{form.number_of_floors}}
														</div>
													</div>
													<div class="col-2 boxGridChildWithoutTopLeft"></div>
												</div>

												<div class=" row col-12 ml-1">
													<div class="col-10 boxGridChildWithoutTop">
														<div class="row col-12">
															<div class="fw-bold">B8 Year Building was built</div>
															{{form.year_building_built}}
														</div>
													</div>
													<div class="col-2 boxGridChildWithoutTopLeft"></div>
												</div>

												<div class=" row col-12 ml-1">
													<div class="col-10 boxGridChildWithoutTop">
														<div class="row col-12">
															<div class="fw-bold">D1 Floor area of the housing unit</div>
															{{form.floor_area_of_housing}}
														</div>
													</div>
													<div class="col-2 boxGridChildWithoutTopLeft"></div>
												</div>
												
												<div class=" row col-12 ml-1">
													<div class="col-10 boxGridChildWithoutTop">
														<div class="col-12">
															<div class="fw-bold">H1 Tenure status of the housing unit/lot</div>
															{{form.tenure_status_of_housing}}
														</div>
													</div>
													<div class="col-2 boxGridChildWithoutTopLeft"></div>
												</div>

												<div class=" row col-12 ml-1">
													<div class="col-10 boxGridChildWithoutTop">
														<div class="col-12">
															<div class="fw-bold">H2 Acquisition of the housing unit</div>
															{{form.acquisition_of_housing}}
														</div>
													</div>
													<div class="col-2 boxGridChildWithoutTopLeft">{{form.acquisition_of_housing_specify}}</div>
												</div>
											</div>
										</div>

										<!-- Step seven -->
										<div class="step">
											<div class="boxGrid form-row mb-2">
												<div class="row justify-content-left col-12">
													<div class="col-auto"><h4 class="fw-bold">3G</h4></div>
												</div>
												<div class="row justify-content-center col-12 titleEdit">POPULATION CENSUS QUESTIONS</div>

												<div class=" row col-12 ml-1">
													<div class=" boxGridChildWithoutRight col-3">
														<h5 class="fw-bold">GENERAL INSTRUCTION</h5>
													</div>
													<div class="boxGridChildWithoutLeft col-9">
														<div class="row col-12 fw-bold">1. WRITE THE NUMBER OR CODE CORRESPONDING TO THE ANSWER IN THE BOX.</div>
														<div class="row col-12 fw-bold">2. WRITE THE ANSWER/DETAILED ON THE LINE PROVIDED FOR "OTHER, SPECIFY" IN ITEMS H3 AND H5 TO H11.</div>
													</div>
												</div>

												<div class="row col-12 ml-1">
													<div class=" boxGridChildWithoutTopBottom col-10 justify-content-center"></div>

													<div class=" boxGridChildOnlyRight col-2 justify-content-center">
														<div class="fw-bold">CODE</div>
													</div>
												</div>

												<div class=" row col-12 ml-1">
													<div class="col-10 boxGridChildWithoutBottom">
														<div class="row col-12">
															<div class="row col-12">
																<div class="fw-bold">H3 Source of financing of the housing unit</div><br>
															</div>
															<div class="row col-12">Did this household avail of the following source of financing in the construction/purchase of this housing unit? CODE "1" IF THE ANSWER IS "YES"; CODE "2" IF THE ANSWER IS "NO". </div>
														</div>
													</div>

													<div class="col-2 boxGridChildTopRight"></div>

													<div class="col-10 boxGridChildWithoutTop">
														<div class="row col-12">
															<div class="row col-12">
																a. Own resources/interest-free loans from relatives/friends
															</div>
															<div class="row col-12">
																b. Government assistance, PAG-IBIG,GSIS, SSS, LBP, and others
															</div>
															<div class="row col-12">
																c. Private bank/ foundation/ cooperative
															</div>
															<div class="row col-12">
																d. Employer assistance
															</div>
															<div class="row col-12">
																e. Private persons
															</div>
															<div class="row col-12">
																f. Others/ Specify
															</div>
														</div>
													</div>

													<div class="col-2 boxGridChildWithoutTopLeft">
														<div class="row col-12">{{form.loans_relatives}}</div>
														<div class="row col-12">{{form.gov_assistance}}</div>
														<div class="row col-12">{{form.private_bank}}</div>
														<div class="row col-12">{{form.employer_assistance}}</div>
														<div class="row col-12">{{form.private_person}}</div>
														<div class="row col-12">{{form.h3_other}}</div>
													</div>
												</div>

												<div class=" row col-12 ml-1">
													<div class="col-10 boxGridChildWithoutTop">
														<div class="row col-12">
															<div class="fw-bold">H4 Monthly rental of the housing unit</div>
															<div>How much is the monthly rental of this housing unit?</div>
															{{form.monthly_rental_house}}
														</div>
													</div>
													<div class="col-2 boxGridChildWihoutLeftTop"></div>
												</div>

												<div class=" row col-12 ml-1">
													<div class="col-10 boxGridChildWithoutTopBottom">
														<div class="row col-12">
															<div class="row col-12">
																<div class="fw-bold">H11 Land ownership</div>
															</div>
															<div class="row col-12">
																Does any member of this household own the following...?<br>
																CODE "1" IF THE ANSWER IS "YES"; CODE "2" IF THE ANSWER IS "NO".
															</div>
														</div>
													</div>

													<div class="col-2 boxGridChildOnlyRight"></div>

													<div class="col-10 boxGridChildWithoutTop">
														<div class="row col-12">
															a. Other residential land/s
														</div>
														<div class="row col-12">
															b. Agricultural land/s
														</div>
														<div class="row col-12">
															c. Agricultural land/s required through Comprehensive Agrarian Reform Program, as an agragrian reform beneficiary
														</div>
														<div class="row col-12">
															d. Others, SPECIFY
														</div>
													</div>

													<div class="col-2 boxGridChildWithoutTopLeft">
														{{form.other_residential}}
														{{form.agricultural_land}}
														{{form.agricultural_land_reform}}
														{{form.h11_other}}
													</div>
												</div>
											</div>
										</div>

										<!-- Step eight -->
										<div class="step">
											<div class="boxGrid form-row mb-2">
												<div class="row justify-content-left col-12">
													<div class="col-auto"><h4 class="fw-bold">3H</h4></div>
												</div>
												<div class="row justify-content-center col-12 titleEdit">POPULATION CENSUS QUESTIONS</div>

												<div class=" row col-12 ml-1">
													<div class=" boxGridChildWithoutRight col-3">
														<h5 class="fw-bold">GENERAL INSTRUCTION</h5>
													</div>
													<div class="boxGridChildWithoutLeft col-9">
														<div class="row col-12 fw-bold">1. WRITE THE ANSWER/ DETAILED DESCRIPTION ON THE LINE PROVIDED FOR "OTHERS, SPECIFY IN THE ITEM H12 AND SPECIFIC ANSWER ON ITEMS H13 AND H14".</div>
														<div class="row col-12 fw-bold">2. WRITE CODE "1" IF THE ANSWER IS "YES", OTHERWISE, WRITE CODE "2" IF THE ANSWER IS "NO" FOR ITEMS H15, H16, AND H17.</div>
													</div>
												</div>

												<div class="row col-12 ml-1">
													<div class=" boxGridChildWithoutTopBottom col-10 justify-content-center"></div>

													<div class=" boxGridChildOnlyRight col-2 justify-content-center">
														<div class="fw-bold">CODE</div>
													</div>
												</div>

												<div class=" row col-12 ml-1">
													<div class="col-10 boxGridChildWithoutBottom">
														<div class="row col-12">
															<div class="row col-12">
																<div class="fw-bold">H12 Presence of operator in crop farming, livestock and/or poultry raising, aquaculture, fishing, and other farm/activity</div><br>
															</div>
															<div class="row col-12">In 2019, is there any member of this household who operated a/an...?</div>
														</div>
													</div>

													<div class="col-2 boxGridChildTopRight"></div>

													<div class="col-10 boxGridChildWithoutTop">
														<div class="row col-12">
															<div class="row col-12">
																a. Crop farm
															</div>
															<div class="row col-12">
																b. Livestock and/or poultry farm
															</div>
															<div class="row col-12">
																c. Aquafarm
															</div>
															<div class="row col-12">
																d. Fishing activity
															</div>
															<div class="row col-12">
																f. Others/ Specify
															</div>
														</div>
													</div>

													<div class="col-2 boxGridChildWithoutTopLeft">
														<div class="row col-12">{{form.crop_farm}}</div>
														<div class="row col-12">{{form.poultry_farm}}</div>
														<div class="row col-12">{{form.aquafarm}}</div>
														<div class="row col-12">{{form.fishing_activity}}</div>
														<div class="row col-12">{{form.h12_other}}</div>
													</div>
												</div>

												<div class=" row col-12 ml-1">
													<div class="col-10 boxGridChildWithoutTop">
														<div class="row col-12">
															<div class="fw-bold">H13 Laguage/ dialect generally spoken at home</div>
															<div>What is the language/ dialect generally spoken at home by members of this household?</div>
														</div>
													</div>

													<div class="col-2 boxGridChildWihoutLeftTop">{{form.language_specify}}</div>
												</div>

												<div class=" row col-12 ml-1">
													<div class="col-10 boxGridChildWithoutTop">
														<div class="row col-12">
															<div class="col-10">
																<div class="fw-bold">H14 Residence five (5) years from now</div>
																<div>In what province and city/ municipality does this household intend to reside five (5) years from now, that is, by May 1,2025?</div>
															</div>
														</div>
													</div>

													<div class="col-2 boxGridChildWithoutTopLeft">
														{{form.h14_province}}
														{{form.h14_municipality}}
													</div>
												</div>
												
												<div class=" row col-12 ml-1">
													<div class="col-10 boxGridChildWithoutTop">
														<div class="row col-12">
															<div class="fw-bold custom-break">H15 Presence of household conveniences/ information and communication technology (ICT) devices/vehicles</div>
															<div>Does this household have the following household conveniences/ devices/ vehicles in working condition?</div>
														</div>

														<div class="row col-12">
															{{form.conveniences}}<br><br>
														</div>

														<div class="row col-12">
															<div class="fw-bold">ICT devices</div>
															{{form.ict_devices}}<br><br>
														</div>

														<div class="row col-12">
															<div class="fw-bold">Vehicles</div>
															{{form.vehicles}}<br><br>
														</div>
													</div>

													<div class="col-2 boxGridChildWithoutTopLeft"></div>
												</div>

												<div class=" row col-12 ml-1">
													<div class="col-10 boxGridChildWithoutTop">
														<div class="row col-12">
															<div class="fw-bold">H16 Internet Access</div>
															<div>What type of internet access is/ are available at home?</div>
															{{form.internet_access}}
														</div>
													</div>

													<div class="col-2 boxGridChildWithoutTopLeft"></div>
												</div>

												<div class=" row col-12 ml-1">
													<div class="col-10 boxGridChildWithoutTop">
														<div class="row col-12">
															<div class="fw-bold">H17 Internet Use</div>
															<div>Where did household member/s use the internet in the last three (3) months?</div>
															{{form.internet_use}}
														</div>
													</div>

													<div class="col-2 boxGridChildWithoutTopLeft"></div>
												</div>

											</div>
										</div>

										<!-- start previous / next buttons -->
										<div class="form-footer d-flex justify-content-between">
											<button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
											<button type="button" class="btn btn-md nextBtn" id="nextBtn" onclick="nextPrev(1)">Next</button>
											<button type="submit" id="submitBtn" style="display: none;" onclick="test()">Submit</button>
										</div>
										
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

	<script src="/static/assets/js/setting-demo2.js"></script>
	<script src="/static/assets/js/forms.js"></script>

	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	
	<script type="text/javascript">
		$(document).ready(function() {
		$('#reservationDate').datetimepicker();
		});
	</script> -->
	
{% endblock javascripts %}	
